body, html {
    margin: 0;
    padding: 0;
    padding-top: 10px;
}
.tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task {
    padding: 15px;
    border: 1px solid;
    max-width: 300px;
    margin-bottom: 25px;
    box-shadow: 1px 1px 17px 1px;
}
.task-form {
    display: flex;
    flex-direction: column;
}

.lights {
    width: 100%;
}

.lights div {
    width: 150px;
    height: 150px;
    border: 1px solid;
    border-radius: 50%;
    margin: 0 auto;
    background-color: gray;
    margin-bottom: 5px;
}

.lights .bgRed {
    background-color: red;
}
.lights .bgYellow {
    background-color: yellow;
}
.lights .bgGreen {
    background-color: green;
}