body {
    padding: 25px;
    background-color: wheat;
}
input {
    height: 100px;
}

textarea {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 0;
    background-color: #b3b6f552;
}
.hint {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
}