input:checked ~ p {
    color: rgb(69, 212, 69);
}
p {
    cursor: pointer;
}
body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: system-ui;
}