<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Task 2</title>
</head>
<body>
    <div id="app">
        <div class="header">
            <h2 class="title">О писателях</h2>
            <ul class="tabs" @click="setActiveTab">
                <li data-id="1" class="tab tab-active">Tab-1</li>
                <li data-id="2" class="tab">Tab-2</li>
                <li data-id="3" class="tab">Tab-3</li>
                <li data-id="4" class="tab">Tab-4</li>
            </ul>
        </div>
        <div class="main">
            <p v-if="tabActive == 1">Анто́н Па́влович Че́хов (17 (29) января 1860, Таганрог, Екатеринославская губерния (теперь Ростовская область), Российская империя — 2 (15) июля 1904, Баденвайлер, Германская империя[6][7]) — русский писатель, прозаик, драматург, врач.

                Классик мировой литературы. По профессии врач. Почётный академик Императорской Академии наук по разряду изящной словесности (1900—1902). Один из самых известных драматургов мира. Его произведения переведены более чем на сто языков. Его пьесы, в особенности «Чайка», «Три сестры» и «Вишнёвый сад», на протяжении более ста лет ставятся во многих театрах мира.
                
                За 25 лет творчества Чехов создал более пятисот различных произведений (коротких юмористических рассказов, серьёзных повестей, пьес), многие из которых стали классикой мировой литературы. Особенное внимание обратили на себя «Степь», «Скучная история», «Дуэль», «Палата № 6», «Дом с мезонином», «Душечка», «Попрыгунья», «Рассказ неизвестного человека», «Мужики», «Человек в футляре», «В овраге», «Детвора», «Драма на охоте»; из пьес: «Иванов», «Чайка», «Дядя Ваня», «Три сестры», «Вишнёвый сад».</p>
            <p v-if="tabActive == 2">Ива́н Алексе́евич Бу́нин (10 (22) октября 1870 года, Воронеж, Воронежская губерния, Российская империя — 8 ноября 1953, Париж, Франция) — русский писатель, поэт и переводчик, лауреат Нобелевской премии по литературе 1933 года.

                Будучи представителем обедневшей дворянской семьи, Бунин рано начал самостоятельную жизнь; в юношеские годы работал в газетах, канцеляриях, много странствовал. Первым из опубликованных произведений Бунина стало стихотворение «Над могилой С. Я. Надсона» (1887); первый стихотворный сборник вышел в свет в 1891 году в Орле. В 1903 году получил Пушкинскую премию за книгу «Листопад» и перевод «Песни о Гайавате»; в 1909 году был повторно удостоен этой награды за 3-й и 4-й тома Собрания сочинений. В 1909 году избран почётным академиком по разряду изящной словесности Императорской Санкт-Петербургской академии наук. В 1920 году эмигрировал во Францию.
                
                Автор романа «Жизнь Арсеньева», повестей «Суходол», «Деревня», «Митина любовь», рассказов «Господин из Сан-Франциско» (1914-15), «Лёгкое дыхание», «Антоновские яблоки» (1900), дневниковых записей «Окаянные дни» (1918-20), «Солнечный удар» (1925), сборника рассказов «Тёмные аллеи»(1937—1945 и 1953) и других произведений.</p>
            <p v-if="tabActive == 3">Граф Лев Николаевич Толсто́й[К 1] (28 августа [9 сентября] 1828, Ясная Поляна, Тульская губерния, Российская империя — 7 [20] ноября 1910, станция Астапово, Рязанская губерния, Российская империя) — один из наиболее известных русских писателей и мыслителей, один из величайших писателей-романистов мира[4]. Участник обороны СевастополяПерейти к разделу «#Военная служба». Просветитель, публицист, религиозный мыслитель, его авторитетное мнение послужило причиной возникновения нового религиозно-нравственного течения — толстовстваПерейти к разделу «#Философия». За свои взгляды был отлучен от церкви. Член-корреспондент Императорской Академии наук (1873), почётный академик по разряду изящной словесности (1900)[5]. Был номинирован на Нобелевскую премию по литературе (1902, 1903, 1904, 1905). Впоследствии отказался от дальнейшей номинации.

                Писатель, ещё при жизни признанный главой русской литературы[6]. Творчество Льва Толстого ознаменовало новый этап в русском и мировом реализме, выступив мостом между классическим романом XIX века и литературой XX века. Лев Толстой оказал сильное влияниеПерейти к разделу «#Значение и влияние творчества» на эволюцию европейского гуманизма, а также на развитие реалистических традиций в мировой литературе. Произведения Льва Толстого многократно экранизировались и инсценировались; его пьесы ставились на сценах всего мира[6]. Лев Толстой был самым издаваемым в СССР писателем за 1918—1986 годы: общий тираж 3199 изданий составил 436,261 млн экземпляров[7].</p>
            <p v-if="tabActive == 4">Ива́н Серге́евич Турге́нев (28 октября [9 ноября] 1818, Орёл, Российская империя — 22 августа [3 сентября] 1883, Буживаль, Франция[8]) — русский писатель-реалист[9], поэт, публицист, драматург, переводчик[10]. Один из классиков русской литературы, внёсших наиболее значительный вклад в её развитие во второй половине XIX века[11]. Член-корреспондент императорской Академии наук по разряду русского языка и словесности (1860), почётный доктор Оксфордского университета (1879), почётный член Московского университета (1880)[12].

                Созданная им художественная система оказала влияние на поэтику не только русского, но и западноевропейского романа второй половины XIX века. Иван Тургенев первым в русской литературе начал изучать личность «нового человека» — шестидесятника, его нравственные качества и психологические особенности[11], благодаря ему в русском языке стал широко использоваться термин «нигилист»[13]. Пропагандист русской литературы и драматургии на Западе.
                
                Изучение произведений И. С. Тургенева — обязательная часть общеобразовательных школьных программ России. Наиболее известные произведения: цикл рассказов «Записки охотника», рассказ «Муму», повесть «Ася», романы «Дворянское гнездо», «Отцы и дети».</p>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
</body>
</html>