<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/styles.css">
    <title>Task 1</title>
</head>
<body>
    <div id="app">
        <p class="article">
            Никола́й II Алекса́ндрович (6 [18] мая 1868[прим 1], Царское Село — 17 июля 1918, Екатеринбург[2]) — Император Всероссийский, Царь Польский и Великий Князь Финляндский (20 октября [1 ноября] 1894 — 2 [15] марта 1917). Из императорского дома Романовых. Полковник гвардии (1892); кроме того, от британских монархов имел звания адмирала флота (28 мая [10 июня] 1908 года[3][4]) и фельдмаршала британской армии (18 [31] декабря 1915 года[прим 2]). 
            <span class="toggle" v-if="!articleOpen" @click="articleOpen = !articleOpen">Читать далее...</span>
        </p>
        <template v-if="articleOpen">
            <p>Правление Николая II было ознаменовано экономическим развитием России[⇨] и одновременно ростом в ней социально-политических противоречий, революционного движения, вылившегося в революцию 1905—1907 годов, Февральскую революцию 1917 года и Октябрьскую революцию; во внешней политике — экспансией на Дальнем Востоке, войной с Японией, а также участием России в военных блоках европейских держав и Первой мировой войне.</p>
            <p>Николай II отрёкся от престола в ходе Февральской революции в марте 1917 года, после чего находился вместе с семьёй под домашним арестом в Александровском дворце Царского Села. Летом 1917 года по решению Временного правительства был отправлен вместе с семьёй и приближёнными в ссылку в Тобольск, а весной 1918 года перемещён большевиками в Екатеринбург, где в июле 1918 года в подвале дома Ипатьева был расстрелян вместе с семьёй и четырьмя приближёнными.</p>
            <p class="toggle" @click="articleOpen = !articleOpen">Свернуть</p>
        </template>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
</body>
</html>